<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CaminhoServidorSQL" value="192.168.1.196"/>
    <add key="NomeBancoSQL" value="MDACESSO"/>
    <add key="UsuarioBancoSQL" value="acesso"/>
    <add key="SenhaBancoSQL" value="Simbios@2020"/>
    <add key="CaminhoServidorFBC" value="D:\WorkDiego\BD\COLSIMBIOS\COLSIMBIOS.FDB"/>
    <add key="UtimoRegistro" value="0"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>